{% extends 'core/base.html' %}

{% block title %}All Courses{% endblock %}

{% block content %}
    <h1>Course List Report</h1>
    <p>List of all available courses and their assigned lecturers.</p>

    <table>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Lecturer</th>
            </tr>
        </thead>
        <tbody>
            {% for course in course_list %}
            <tr>
                <td>{{ course.code }}</td>
                <td>{{ course.name }}</td>
                <td>
                    {% if course.lecturer %}
                        {{ course.lecturer.name }}
                    {% else %}
                        <span style="color: #888;">Not Assigned</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}